
.headerbar{
  display: flex;
  padding: 10px 20px;
  justify-content: space-between;
  align-items: center;
  position:   sticky;
  background-color: #7d2ae8;
  z-index: 100;
  top: 0;
  box-shadow: 0px 5px 8px -9px rgb(0, 0, 0, 0.75);
}

.searchbar{
display: flex;
justify-content: space-between;
align-items: center;
height: 50%;
}

.searchbox{
display: flex;
align-items:  center;
background-color: aliceblue;
padding: 5px;
border-radius: 999px;
}

.searchbar input {
  border: none;
  background-color: transparent;
  outline-width: 0;
}

.logo {
  /* width: 40px; */
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}
  
.nav_midsection{
  display: flex;
  flex: 1;
  justify-content: center;
}

.mid_icons> .MuiSvgIcon-root{
  color: #ffffff;

}

.mid_icons:hover> .MuiSvgIcon-root{
  color: #1f0725;
}

.mid_icons--active>.MuiSvgIcon-root{
color: #1f0725;
}

.mid_icons--active{
  background-color: #f3f3f3;
  border-radius: 5px;
}

.mid_icons{
  display: flex;
  align-items: center;
  padding: 0 30px;
  cursor: pointer;
}


.mid_icons:hover {
  background-color: #c8c6ca;
  border-radius: 5px;
  align-items: center;
  padding: 0 30px;
  border-bottom: none;
}


.profile{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile .logoutdiv a {
  text-decoration: none;
  color: white;
}

.profile button{
  color: #ffffff;
}



